<div class="side-progress-bar">hello</div>

<h1 class="glitch">
  <span aria-hidden="true">{{ title }}</span>
  {{ title }}
  <span aria-hidden="true">{{ title }}</span>
</h1>
<h2 class="subheading text-primary">Screen Activity Reminder</h2>

<div *ngIf="showMenu; else timer" class="menu">
  <p>
    Get notified right before your status goes
    <span class="text-primary">inactive</span>! Take calls or get some coffee
    and still show that you're <span class="text-primary">available</span> for
    your coworkers.
  </p>
  <p>
    Unlike other timers, any interaction will restart it. Wiggling the mouse,
    clicking, or pressing a key will restart the timer.
  </p>

  <hr />

  <div class="duration-box">
    <!-- Duration Selection -->
    <label for="duration"
      >For how many minutes does your screen stay awake?</label
    >
    <input #duration class="duration" type="text" />
    &nbsp;
    <span class="text-primary">Minutes</span>

    <!-- Audio Selection -->
    <label for="audio"
      >What sound would you like to hear when your timer is almost up?</label
    >
    <select
      class="dropdown"
      #audioDropdown
      (change)="onSelectAudio(audioDropdown.value)"
    >
      <option *ngFor="let audio of audioSelections" [value]="audio.audioTitle">
        {{ audio.audioTitle }}
      </option>
    </select>

    <!-- Image Selection -->
    <br />
    <legend>What image would you like to see as the visual alert?</legend>
    <fieldset>
      <div class="radios">
        <div class="radio" *ngFor="let gif of gifSelections; let idx = index">
          <input
            type="radio"
            id="gifChoice[idx]"
            name="gifs"
            [value]="gif.id"
            [checked]="gifSelection.id == idx"
            (change)="onSelectGif(idx)"
          />
          <label for="gifChoice{{ gif.id }}" class="text-secondary">{{
            gif.gifTitle
          }}</label>
          <br />
          <img
            class="radio-img"
            [src]="gif.gifPath"
            [alt]="gif.gifTitle"
            (click)="onSelectGif(idx)"
          />
        </div>
      </div>
    </fieldset>

    <small class="error" *ngIf="error">Only use numbers for "minutes"!</small>
    <br />

    <button
      type="button"
      class="timer-button"
      (click)="startTimer(duration.value)"
    >
      Start Timer
    </button>
  </div>
</div>

<hr />

<ng-template #timer>
  <div class="timer">
    <p *ngIf="timerAlmostUp" class="wake-up">
      {{ remainingTime }} seconds left! Interact again to restart!
      <br />
      <br />
      <img [src]="gifSelection.gifPath" [alt]="gifSelection.gifTitle" />
    </p>

    <div *ngIf="!timerAlmostUp">
      <p>{{ duration * 1000 | date : "m" }} minute timer set and running.</p>
      <h2>Time remaining: {{ remainingTime * 1000 | date : "m:ss" }}</h2>
      <br />
      <div class="bar-container">
        <div class="bar" [style.width]="remainingPercent + '%'">
          <div class="bar-value">{{ remainingPercent + "%" }}</div>
        </div>
      </div>
      <br />
      <small
        >You will be warned 10 seconds before the timer runs out with a
        <span class="text-primary">{{ audioSelection.audioTitle }}</span> audio
        alert and a <span class="text-primary">big animated gif</span> image so
        you can interact and remain "Available". Wiggling the mouse, clicking,
        or pressing a key will restart the timer.</small
      >
      <br />
      <br />
    </div>
  </div>
</ng-template>

<div class="two-column">
  <div>
    <label for="themeToggle"
      ><input type="checkbox" id="themeToggle" [formControl]="darkTheme" />
      &nbsp;&nbsp; Dark Mode</label
    >
  </div>
  <button
    *ngIf="!showMenu"
    type="button"
    class="timer-button"
    (click)="stopTimer()"
  >
    Stop Timer
  </button>
</div>

<button type="button" class="view-credits-button" (click)="showCreditsToggle()">
  {{ showCredits ? "Hide" : "View" }} credits
</button>
<div *ngIf="showCredits" class="credits">
  <p>
    Coded for Practice by
    <a href="mailto:geekfabulous@gmail.com">Chris</a> (me). I wanted to try out
    some things in RxJS, namely <strong>fromEvent</strong>,
    <strong>interval</strong>, <strong>merge</strong>, and
    <strong>switchMap</strong>.
  </p>
  <p>
    Course on RxJS Basics by
    <a href="https://app.ultimatecourses.com/course/rxjs-basics" target="_blank"
      >Ultimate Courses</a
    >
  </p>
  <p>
    "Dark Mode" from tutorial by
    <a
      href="https://coryrylan.com/blog/theming-angular-apps-with-css-custom-properties"
      target="_blank"
      >this blog post</a
    >.
  </p>
  <p>
    Green button CSS from
    <a href="https://www.bestcssbuttongenerator.com/#/18" target="_blank"
      >this CSS Generator</a
    >.
  </p>
  <p>
    Vaporwave
    <a
      href="https://www.etsy.com/listing/1025870411/vaporwave-color-swatches-color-palette"
      target="_blank"
      >Color Swatches</a
    >.
  </p>
  <p>
    Glitch title effect from
    <a href="https://codepen.io/cbanlawi/pen/xxRBeMY" target="_blank"
      >this Codepen</a
    >.
  </p>
</div>
