:host {
  display: block;
  padding: 2rem;
  // border: 1px solid blue;
  // background-color: green;
  box-sizing: border-box;
  width: calc(100% - 50px);
  height: 100%;
}

.side-progress-bar {
  width: 50px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid teal;
  background-color: turquoise;
}

p {
  font-family: Lato, Arial, Helvetica, sans-serif;
}
a {
  color: dodgerblue;
}

h1 {
  color: var(--text-primary);
  margin: 0;
  font-size: 24px;
}

h2.subheading {
  margin-top: 0.25rem;
  font-size: 20px;
}

.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  margin: 0.5rem 0;
}
input.duration {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #666;
  width: 20px;
}

.dropdown {
  background-color: #fff;
  border: 1px solid #666;
  padding: 6px;
  margin: 0.5rem 0 1.75rem;
  color: var(--text-tertiary);
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

.two-column {
  display: flex;
  justify-content: space-between;
}

.timer-button {
  box-shadow: 3px 4px 0px 0px var(--text-tertiary);
  background: linear-gradient(
    to bottom,
    var(--text-primary) 5%,
    var(--text-secondary) 100%
  );
  background-color: var(--text-primary);
  border-radius: 8px;
  border: 1px solid var(--text-tertiary);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--text-tertiary);
  margin: 0.5rem 0;
}
.timer-button:hover {
  background: linear-gradient(
    to top,
    var(--text-primary) 5%,
    var(--text-secondary) 100%
  );
  background-color: var(--text-primary);
}
.timer-button:active {
  position: relative;
  top: 1px;
}

.start-button {
  cursor: pointer;
  color: #666;
  border: 1px solid #bbb;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 14px;
  display: block;
}

.duration-box {
  margin: 1rem 0;
}

.wake-up {
  color: red;
  text-align: center;
}
.wake-up img {
  max-width: 100%;
  width: 800px;
  display: block;
  /* margin: auto; */
}

.view-credits-button {
  cursor: pointer;
  color: #666;
  border: 1px solid #bbb;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-size: 12px;
  display: block;
  margin: 1rem auto;
}
.credits {
  color: var(--text-color);
  background-color: var(--credits-background);
  margin: 1rem;
  padding: 0 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  font-size: 12px;
}

/* Progress bar */
.bar-container {
  width: 100%;
  background-color: var(--text-primary);
  border: 1px solid #999;
  border-top: 1px solid #333;
}
.bar {
  background: linear-gradient(
    to top,
    var(--text-tertiary) 5%,
    var(--text-primary) 100%
  );
  background-color: var(--text-secondary);
  text-align: center;
  color: #fff;
  overflow: hidden;
  height: 2rem;
  line-height: 1rem;
  transition-duration: 1s;
}
.bar-value {
  display: inline-block;
  padding: 0.5rem;
}

/* Image selection */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.radios {
  padding-top: 0.5rem;
  margin-left: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.radio {
  margin: 0.5rem;
  padding: 0 0.75rem 0.75rem;
  text-align: center;
  background: var(--card-bkd);
  border-bottom: 1px solid #999;
  border-radius: 0.25rem;
  box-shadow: 4px 8px 10px var(--shadow-color);
}
.radio label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
}
.radio-img {
  width: 150px;
}

.error {
  display: block;
  margin-top: 1rem;
  color: red;
}

.glitch {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
