<h1>Sleep Timer Reminder</h1>
<div *ngIf="showMenu; else timer" class="menu">
  <p>
    Get notified right before your computer goes to sleep so you can keep it
    awake! Maintain your "Available" status! Avoid the yellow "Away" dot!
  </p>
  <p>
    Wiggling the mouse, clicking, or hitting a key will restart the timer and
    keep your machine awake. No more stopping and starting, just touch the
    touchpad occasionally!
  </p>
  <p>
    <strong>Example:</strong> The default inactivity timer for Microsoft Teams
    is 5 minutes, so type that in the box, and you will be notified at 4min50sec
    to interact before Teams changes your status to "Away".
  </p>

  <hr />

  <label for="duration"
    >For how many minutes does your screen stay awake?</label
  >
  <div class="duration-box">
    <input type="text" #duration /> &nbsp; Minutes
    <br />
    <small *ngIf="displayError" class="error">Please enter only numbers.</small>
    <button
      type="button"
      class="timer-button"
      (click)="startTimer(duration.value)"
    >
      Start Timer
    </button>
  </div>
</div>

<hr />

<ng-template #timer>
  <div class="timer">
    <p *ngIf="timerAlmostUp" class="wake-up">
      {{ remainingTime }} seconds left! Interact again to restart!
      <br />
      <br />
      <img
        src="https://media4.giphy.com/media/5bdgsd3ChyajOVN0rl/giphy.gif"
        alt="Wake Up image"
      />
    </p>

    <div *ngIf="!timerAlmostUp">
      <p>
        Interact with a key press, click, or mouse movement and don't let
        {{ duration * 1000 | date : "m" }} pass...
      </p>
      <h2>Time remaining: {{ remainingTime * 1000 | date : "m:ss" }}</h2>
      <br />
      <small
        >You will be warned 10 seconds before the timer runs out so you can
        interact and keep it awake.</small
      >
      <br />
    </div>
  </div>
</ng-template>

<div class="two-column">
  <div>
    <input type="checkbox" id="themeToggle" [formControl]="darkTheme" />
    &nbsp;
    <label for="themeToggle">Dark Mode</label>
  </div>
  <button
    *ngIf="!showMenu"
    type="button"
    class="start-button"
    (click)="showMenuToggle()"
  >
    Stop/Restart Timer
  </button>
</div>

<button type="button" class="view-credits-button" (click)="showCreditsToggle()">
  {{ showCredits ? "Hide" : "View" }} credits
</button>
<div *ngIf="showCredits" class="credits">
  <p>
    Coded for Practice by
    <a href="mailto:geekfabulous@gmail.com">Chris</a> (me). I wanted to try out
    some things in RxJS, namely <strong>fromEvent</strong>,
    <strong>interval</strong>, <strong>merge</strong>, and
    <strong>switchMap</strong>.
  </p>
  <p>
    Course on RxJS Basics by
    <a href="https://app.ultimatecourses.com/course/rxjs-basics" target="_blank"
      >Ultimate Courses</a
    >
  </p>
  <p>
    "Dark Mode" from tutorial by
    <a
      href="https://coryrylan.com/blog/theming-angular-apps-with-css-custom-properties"
      target="_blank"
      >this blog post</a
    >.
  </p>
  <p>
    Green button CSS from
    <a href="https://www.bestcssbuttongenerator.com/#/18" target="_blank"
      >this CSS Generator</a
    >.
  </p>
</div>
